<div class="header-affiliations" aria-label="Affiliations">
  <a href="https://www.ox.ac.uk/" target="_blank" rel="noopener" title="University of Oxford">
    <img
      class="logo-oxford"
      src="{{ '/assets/logos/oxford.png' | relative_url }}"
      alt="University of Oxford"
      width="512"
      height="512"
    >
  </a>
  <a href="https://www.cs.ox.ac.uk/" target="_blank" rel="noopener" title="Department of Computer Science, University of Oxford">
    <img
      class="logo-oxford-cs"
      src="{{ '/assets/logos/oxford-cs-dept.png' | relative_url }}"
      alt="Department of Computer Science, University of Oxford"
      width="112"
      height="56"
    >
  </a>
  <a href="https://www.wolfson.ox.ac.uk/" target="_blank" rel="noopener" title="Wolfson College, Oxford">
    <img
      class="logo-wolfson"
      src="{{ '/assets/logos/wolfson.png' | relative_url }}"
      alt="Wolfson College, Oxford"
      width="512"
      height="512"
    >
  </a>
  <a href="https://ellis.eu/" target="_blank" rel="noopener" title="ELLIS Society">
    <img
      class="logo-ellis"
      src="{{ '/assets/logos/ellis.png' | relative_url }}"
      alt="ELLIS Society"
      width="921"
      height="198"
    >
  </a>
</div>
